<extend name="Base/base" />
<block name="mainBlock">

    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px ">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">菜单URL</label>
                <div class="layui-input-block">
                    <input type="text" name="m_url" value="{$row.url}" lay-verify="m_url" autocomplete="off" placeholder="请输入菜单URL" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                    <input type="text" name="m_name" value="{$row.name}" lay-verify="m_name" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上级分类</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <select name="m_parentid" lay-filter="m_parentid">
                            <option value=""></option>
                            <foreach name="menu_list" item="vo">
                                <option {:xeq($vo['id'], $row['parentid'], 'selected')} value="{$vo.id}">{$vo.name}</option>
                                <foreach name="vo.childs" item="twoVo" >
                                    <option {:xeq($twoVo['id'], $row['parentid'], 'selected')} value="{$twoVo.id}"> &nbsp;&nbsp;- {$twoVo.name}</option>
                                </foreach>
                            </foreach>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-block">
                    <input type="radio" name="m_isdisplay" value="1" title="显示" checked="">
                    <input type="radio" name="m_isdisplay" value="0" title="隐藏">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                    <input type="text" name="m_sort" value="{$row.sort}" lay-verify="m_sort" autocomplete="off" placeholder="请输入排序" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <input class="layui-btn" type="submit" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
                        <input type="hidden" name="id" value="{$row.id}">
                    </div>
            </div>
        </form>
    </div>
</block>

<block name="scriptBlock">
    <script>
        layui.config({
            base: '__STATIC__/admin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function(){
            var $ = layui.$
                ,form = layui.form;

            form.on('submit(layuiadmin-app-form-edit)', function(obj) {
                const postData = {
                    url: $("input[name='m_url']").val(),
                    name: $("input[name='m_name']").val(),
                    parentid: $("select[name='m_parentid']").val(),
                    isdisplay: $('input[name="m_isdisplay"]:checked ').val(),
                    sort: $("input[name='m_sort']").val(),
                    id: $('input[name="id"]').val()
                }
                console.log(postData)

                $.post("{:U('index/doMenuUpdate')}", postData , (response) => {
                    if ( response.code == 0 ) {
                        layer.alert('更新成功', function(index, layero){
                            location.reload()
                            //按钮【按钮一】的回调
                        })
                    }else{
                        layer.alert(response.message)
                    }
                })
                return false
            })
            //监听提交
        })
    </script>
</block>