<extend name="Base/base" />

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">平台</label>
                    <div class="layui-input-inline">
                        <select name="platform">
                            <option value="">全平台</option>
                            <foreach name="platform" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">APK包名</label>
                    <div class="layui-input-inline">
                        <select name="apk">
                            <option value="">全APK包</option>
                            <foreach name="apk" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">渠道</label>
                    <div class="layui-input-inline">
                        <select name="channel">
                            <option value="">全渠道</option>
                            <foreach name="channel" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn" data-type="execlExport">导出</button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}" lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'date', minWidth:105}">日期</th>
            <th lay-data="{field:'platform'}">平台</th>
            <th lay-data="{field:'apk'}">apk包</th>
            <th lay-data="{field:'channel'}">渠道</th>
            <th lay-data="{field:'active'}">活跃人数</th>
            <th lay-data="{field:'amount'}">充值金额</th>
            <th lay-data="{field:'count'}">充值人数</th>
            <th lay-data="{field:'sum'}">充值次数</th>
            <th lay-data="{field:'rate'}">付费率</th>
            <th lay-data="{field:'arppu'}">ARPPU</th>
            <th lay-data="{field:'arpu'}">ARPU</th>
            <th lay-data="{field:'count_first', minWidth:150}">首次充值人数</th>
            <th lay-data="{field:'amount_first', minWidth:150}">首次充值金额</th>
            <th lay-data="{field:'count_new', minWidth:150}">新增充值人数</th>
            <th lay-data="{field:'amount_new', minWidth:150}">新增充值金额</th>
            <th lay-data="{field:'count_wechat', minWidth:150}">微信充值人数</th>
            <th lay-data="{field:'amount_wechat', minWidth:150}">微信充值金额</th>
            <th lay-data="{field:'count_alipay', minWidth:150}">支付宝充值人数</th>
            <th lay-data="{field:'amount_alipay', minWidth:150}">支付宝充值金额
            <th lay-data="{field:'count_qq', minWidth:150}">QQ充值人数</th>
            <th lay-data="{field:'amount_qq', minWidth:150}">QQ充值金额</th>
            <th lay-data="{field:'count_bank', minWidth:150}">银联快捷充值人数</th>
            <th lay-data="{field:'amount_bank', minWidth:150}">银联快捷充值金额</th>
        </tr>
        </thead>
    </table>

</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#s_date'
                ,type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            laydate.render({
                elem: '#e_date'
                ,type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            var active = {
                searchData: function () {
                    return {
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                        platform: $('select[name="platform"]').val(),
                        apk: $('select[name="apk"]').val(),
                        channel: $('select[name="channel"]').val()
                    }
                },
                formatSearchData: function () {
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for (var $v in $d) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function () {
                    table.reload('datalist', {
                        where: active.searchData(),
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("recharge/incomeOverview")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content: '{:U("recharge/incomeOverview")}' + active.formatSearchData() //iframe的url
                    });
                    setTimeout(function () {
                        layer.close(index);
                    }, 3000);
                }
            }

            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>