<extend name="Base/base" />

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
          <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">截止日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">平台</label>
                <div class="layui-input-inline">
                    <select name="platform">
                        <option value="">全平台</option>
                        <foreach name="platform" key="key" item="vo" >
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                </div>
            </div>

              <div class="layui-inline">
                  <label class="layui-form-label">apk包</label>
                  <div class="layui-input-inline">
                      <select name="apkid">
                          <option value="">全部</option>
                          <foreach name="apk" key="key" item="vo">
                              <option value="{$key}">{$vo}</option>
                          </foreach>
                      </select>
                  </div>
              </div>

            <div class="layui-inline">
                <label class="layui-form-label">渠道</label>
                <div class="layui-input-inline">
                    <select name="channe">
                        <option value="">全渠道</option>
                        <foreach name="channel_list" key="key" item="vo" >
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
              <button class="layui-btn" data-type="execlExport">导出</button>
        </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true, id:'datalist',cellMinWidth: 120}" lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'date'}">日期</th>
            <th lay-data="{field:'platform'}">平台</th>
            <th lay-data="{field:'apk'}">APK包名</th>
            <th lay-data="{field:'channe'}">注册渠道</th>
            <th lay-data="{field:'NewDeviceCount'}">设备新增</th>
            <th lay-data="{field:'register'}">注册人数</th>
            <th lay-data="{field:'bindNum'}">绑定人数</th>
            <th lay-data="{field:'chongZhiRenShu'}">充值人数</th>
            <th lay-data="{field:'oneDayTotalPay'}">充值金额</th>
            <th lay-data="{field:'twoDayBindUsers'}">2日绑定人数</th>
            <th lay-data="{field:'twoDayPayUsers'}">2日充值人数</th>
            <th lay-data="{field:'twoDayTotalPay'}">2日累计充值金额</th>
            <th lay-data="{field:'threeDayBindUsers'}">3日绑定人数</th>
            <th lay-data="{field:'threeDayPayUsers'}">3日充值人数</th>
            <th lay-data="{field:'threeDayTotalPay'}">3日累计充值金额</th>
            <th lay-data="{field:'sevenDayBindUsers'}">7日绑定人数</th>
            <th lay-data="{field:'sevenDayPayUsers'}">7日充值人数</th>
            <th lay-data="{field:'sevenDayTotalPay'}">7日累计充值金额</th>
        </tr>
        </thead>
    </table>

</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form
                ,laydate = layui.laydate;
            //日期
                laydate.render({
                    elem: '#s_date'
                });
                laydate.render({
                    elem: '#e_date'
                });

            var active = {
                searchData: function() {
                    return {
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                        platform: $('select[name="platform"]').val(),
                        channe: $('select[name="channe"]').val(),
                        apkid: $('select[name="apkid"]').val()
                    }
                },
                formatSearchData: function(){
                    let $d = this.searchData(),
                         $s = '?';
                    $d.isExecl = 1;
                    for ( var $v in $d ) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function() {
                    table.reload('datalist', {
                        where: active.searchData(),
                        url: '{:U("Daily/channelData")}',
                        limits: limits,
                        limit:limit,
                        done: function (data) {
                            //console.log(data)
                        }
                     })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content:'{:U("Daily/channelData")}'+active.formatSearchData() //iframe的url
                    });
                    setTimeout(function(){
                        layer.close(index);
                    },3000);
                }
            }
            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>