<extend name="Base/base" />
<block name="main">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px ">
            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">管理员名称</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline">
                            <input type="text" name="name" value="{$adminInfo.bk_name}" disabled lay-verify="required" autocomplete="off" placeholder="管理员名称" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 设置密码</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline">
                            <input type="text" name="password" lay-verify="required" autocomplete="off" placeholder="请设置密码" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id" value="{$adminInfo.bk_accountid}">
                        <button class="layui-btn " lay-submit lay-filter="submitEdit">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'form'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form;

            form.on('submit(submitEdit)', function(obj){
                let postData = {
                    id: $("input[name='id']").val(),
                    password: $("input[name='password']").val(),
                };
                $.post("{:U('system/doAdminPasswordEdit')}", postData , (response) => {
                    if (response.code == 0) {
                        layer.msg('更新成功,请勿重复点击', {icon: 1}, function(index, layero){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        })
                    }else{
                        if (response.message == undefined || response.message == '') response.message = '更新失败';
                        layer.msg(response.message, {icon: 2})
                    }
                });
                return false
            })
        });
    </script>
</block>