<extend name="Base/base" />
<block name="mainBlock">
    <div class="layui-card">
    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px ">
        <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">管理员名称</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="name" value="{$row.name}" disabled lay-verify="name" autocomplete="off" placeholder="管理员名称" class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label"> 设置密码</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="password" lay-verify="password" autocomplete="off" placeholder="设置密码" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn " lay-submit lay-filter="LAY-menu-add-submit">确认修改</button>
                <input type="hidden" name="id" value="{$row.id}">
            </div>
        </div>
    </form>

    </div>
    </div>
</block>

<block name="scriptBlock">
    <script>
        layui.use(['jquery', 'table', 'form'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form;

            form.on('submit(LAY-menu-add-submit)', function(obj){
                let postData = {
                    password: $("input[name='password']").val()
                }

                $.post("{:U('index/doAdminEdit')}", postData , (response) => {
                    if ( response.code == 0 ) {
                        layer.alert('更新成功', function(index, layero){
                            location.reload()
                            //按钮【按钮一】的回调
                        })
                    }else{
                        layer.alert( response.message )
                    }
                })
                return false
            })
        });
    </script>
</block>