<extend name="Base/base" />

<block name="mainBlock">
    <div class="layui-card">
        <div class="layui-card-body">
            <table class="layui-table" lay-data="{loading:true, cellMinWidth: 120, height:'full',page:true, id:'datalist'}" lay-filter="datalist">
                <thead>
                    <tr>
                        <th lay-data="{field:'type', templet: '#typeTpl'}">类型</th>
                        <th lay-data="{field:'id'}">编号</th>
                        <th lay-data="{field:'rate'}">增减频率</th>
                        <th lay-data="{field:'ratio'}">增减万分比</th>
                        <th lay-data="{field:'stime'}">增减时长</th>
                        <th lay-data="{field:'run_time'}">执行时长</th>
                        <th lay-data="{field:'expect_amount'}">期望增减金额</th>
                        <th lay-data="{field:'now_amount'}">本次增减金额</th>
                        <th lay-data="{field:'start_time', width: 180}">开始时间</th>
                        <th lay-data="{field:'end_time', width: 180}">结束时间</th>
                        <th lay-data="{field:'add_text'}">原因</th>
                        <th lay-data="{field:'admin_name'}">操作人</th>
                     </tr>
                </thead>
            </table>

            <script type="text/html" id="typeTpl">
                {{#  if(d.type === '添加'){ }}
                <span style="color: #00B83F;">{{ d.type }}</span>
                {{#  } else { }}
                <span style="color: #994a2b;">{{ d.type }}</span>
                {{#  } }}
            </script>
    </div>
    </div>

</block>

<block name="scriptBlock">
    <script>
        layui.use(['jquery', 'table'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form
                ,laydate = layui.laydate;

            table.reload('datalist', {
                where:{
                    cid: "{:I('get.cid/d')}",
                    gid: "{:I('get.gid/d')}"
                },
                url: '{:U("index/gameConfigList")}',
                limits: [20,50,100],
                done: function (data) {
                    console.log(data)
                }
            })
        });
    </script>
</block>