<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>聊天记录</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css"/>
    <style>
        body .layim-chat-main{height: auto;}
    </style>
</head>
<body>

<div class="layim-chat-main">
    <ul id="LAY_view"></ul>
</div>

<div id="LAY_page" style="margin: 0 10px;"></div>

<textarea title="消息模版" id="LAY_tpl" style="display:none;">
{{# layui.each(d.data, function(index, item){
  if(item.mine == true){ }}
    <li class="layim-chat-mine"><div class="layim-chat-user"><img src="{{ item.avatar }}"><cite><i>{{ layui.data.date(item.timestamp) }}</i>我</cite></div><div class="layim-chat-text">{{ layui.layim.content(item.content) }}</div></li>
  {{# } else { }}
    <li><div class="layim-chat-user"><img src="{{ item.avatar }}"><cite>{{ item.username }}<i>{{ layui.data.date(item.timestamp) }}</i></cite></div><div class="layim-chat-text">{{ layui.layim.content(item.content) }}</div></li>
  {{# }
}); }}
</textarea>

<!--
上述模版采用了 laytpl 语法，不了解的同学可以去看下文档：http://www.layui.com/doc/modules/laytpl.html
-->
<script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['layim', 'laypage'], function(){
        var layim = layui.layim
            ,layer = layui.layer
            ,laytpl = layui.laytpl
            ,laypage = layui.laypage
            ,$ = layui.jquery;

        //聊天记录的分页此处不做演示，你可以采用laypage，不了解的同学见文档：http://www.layui.com/doc/modules/laypage.html

        //开始请求聊天记录


        var active = {
            page: function(count, page){
                laypage.render({
                    elem: 'LAY_page',
                    count: count,
                    curr: page,
                    jump: function (obj, first) {
                        if( first == true ) {
                            obj.curr = (count % 10) ? (count / 10)+1: (count / 10);
                        }
                        !first && active.ajaxGet(obj.curr, obj.limit);
                    }
                });
            },
            ajaxGet: function (curr, limit) {
                $.get("{:U('FreezeManagement/chat')}", {id: "{:I('get.id/d')}", page: curr, limit: limit}, function (response) {
                    var html = laytpl(LAY_tpl.value).render({
                        data: response.data
                        ,count: 1
                        ,curr: location.hash.replace('#!fenye=', '')
                    });
                    $('#LAY_view').html(html);
                    active.page(response.count, response.page)
                });
            },
            getData: function (limit) {
                $.get("{:U('FreezeManagement/chat')}", {id: "{:I('get.id/d')}", page: 1, limit: limit, last:1}, function (response) {
                    active.ajaxGet(response.page, limit)
                })
            }
        };
        active.getData(10);
    });
</script>
</body>
</html>
