<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">IP</label>
                    <div class="layui-input-inline">
                        <input type="text" name="freeze_ip" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="state" lay-filter="state">
                            <option value="0">全部</option>
                            <option value="2">冻结</option>
                            <option value="1">解冻</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'number'}">编号</th>
            <th lay-data="{field:'freeze_ip', minWidth:150}">IP</th>
            <th lay-data="{field:'state'}">状态</th>
            <th lay-data="{field:'freezeReason'}">冻结原因</th>
            <th lay-data="{field:'unfreezeReason'}">解冻原因</th>
            <th lay-data="{field:'operator'}">后台操作人</th>
            <th lay-data="{field:'freeze_time', minWidth:160}">冻结时间</th>
            <th lay-data="{fixed: 'right', width:65, align:'center', toolbar: '#bar'}">操作</th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="removeFreeze">解冻</a>
    </script>

</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;

            //监听工具条
            table.on('tool(datalist)', function(obj){
                var data = obj.data;
                if ( obj.event === 'removeFreeze' ) {
                    if( data.bk_state == 1 ) {
                        layer.alert('已经是解冻状态')
                        return
                    }

                    layer.prompt({
                        formType: 2
                        ,title: '解冻IP：'+data.freeze_ip
                        ,value:'原因：'
                    }, function(value, index){
                        layer.close(index);
                        //这里一般是发送修改的Ajax请求
                        $.post("{:U('FreezeManagement/lockIp')}", {"ip": data.freeze_ip, "nuLock": 1, 'cause':value }, function(responseData) {
                            if (responseData.code == 0 ){
                                obj.update({
                                    state: '已解冻',
                                    bk_state: 1
                                })
                                layer.msg('操作成功', {icon: 1});
                            }
                        })
                    });
                }
            });

            //日期
            laydate.render({
                elem: '#s_date'
            });
            laydate.render({
                elem: '#e_date'
            });
            var active = {
                reload: function () {
                    table.reload('datalist', {
                        where: {
                            freeze_ip: $('input[name="freeze_ip"]').val(),
                            state:  $('select[name="state"]').val()
                        },
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("freezeManagement/ipList")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                }
            }
            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })

        });
    </script>
</block>