<extend name="Base/base" />

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
          <div class="layui-form-item">
          <div class="layui-inline">
              <label class="layui-form-label">玩家ID</label>
              <div class="layui-input-inline">
                  <input type="text" name="accountid" autocomplete="off" class="layui-input">
              </div>
          </div>
              <div class="layui-inline">
                  <label class="layui-form-label">咨询类型</label>
                  <div class="layui-input-inline" style="width: 100px;">
                      <select name="consultation">
                          <option value="">请选择</option>
                          <foreach name="consultation" key="k" item="vo" >
                              <option value="{$k}">{$vo}</option>
                          </foreach>
                      </select>
                  </div>
              </div>

              <div class="layui-inline">
                  <label class="layui-form-label">状态</label>
                  <div class="layui-input-inline" style="width: 100px;">
                      <select name="state">
                          <option value="">请选择</option>
                          <option value="0">已回复</option>
                          <option value="1">未回复</option>
                      </select>
                  </div>
              </div>

              <div class="layui-inline">
                  <label class="layui-form-label" >VIP等级</label>
                  <div class="layui-input-inline" style="width: 100px;">
                      <select name="vip">
                          <option value="">请选择</option>
                          <option value="0">0 - vip</option>
                          <option value="1">1 - vip</option>
                          <option value="2">2 - vip</option>
                          <option value="3">3 - vip</option>
                          <option value="4">4 - vip</option>
                          <option value="5">5 - vip</option>
                          <option value="6">6 - vip</option>
                          <option value="7">7 - vip</option>
                          <option value="8">8 - vip</option>
                          <option value="9">9 - vip</option>

                      </select>
                  </div>
              </div>
              <div class="layui-inline">
                  <label class="layui-form-label">开始时间</label>
                  <div class="layui-input-inline">
                      <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                  </div>
              </div>
              <div class="layui-inline">
                  <label class="layui-form-label">结束时间</label>
                  <div class="layui-input-inline">
                      <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                  </div>
              </div>
              <button class="layui-btn" data-type="reload">搜索</button>
              <div class="layui-inline">
                  <label class="layui-form-label">玩家ID</label>
                  <div class="layui-input-inline">
                      <input type="text" name="sendMessageAccountid" id="sendMessageAccountid" autocomplete="off" class="layui-input">
                  </div>
              </div>

              <button class="layui-btn" data-type="sendMessage">发起会话</button>
              <div class="layui-inline">
                  <label class="layui-form-label">刷新时间</label>
                  <div class="layui-input-inline">
                      <select name="reload" id="reload_id">
                          <option value="0">选择刷新时间</option>
                          <option value="5">5秒</option>
                          <option value="10">10秒</option>
                          <option value="20">20秒</option>
                          <option value="30">30秒</option>
                          <option value="50">50秒</option>
                      </select>
                  </div>
              </div>
              <button class="layui-btn" id="countDown" data-text="0" >开始</button>
          </div>
        </div>
    </div>
    <br>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true, id:'datalist', cellMinWidth: 140}" lay-filter="datalist">
        <thead>
            <tr>
                <th lay-data="{field:'id'}">ID</th>
                <th lay-data="{field:'accountid'}">玩家ID</th>
                <th lay-data="{field:'apk'}">包名</th>
                <th lay-data="{field:'name'}">玩家昵称</th>
                <th lay-data="{field:'consultType'}">咨询类型</th>
                <th lay-data="{field:'content'}">咨询内容</th>
                <th lay-data="{field:'State'}">状态</th>
                <th lay-data="{field:'VIP'}">VIP等级</th>
                <th lay-data="{field:'time'}">提交时间</th>
                <th lay-data="{field:'Operator'}">操作人</th>
                <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}">操作</th>
            </tr>
        </thead>
    </table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="chat">对话</a>
    </script>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate', 'layim', 'form'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form
                ,layim = layui.layim
                ,laydate = layui.laydate;
            var form = layui.form;
            //日期
            laydate.render({
                elem: '#s_date'
                ,type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            laydate.render({
                elem: '#e_date'
                ,type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });

            var active = {
                reload: function() {
                    table.reload('datalist', {
                        where: {
                            accountid: $('input[name="accountid"]').val(),
                            consultation: $('select[name="consultation"]').val(),
                            vip: $('select[name="vip"]').val(),
                            start_time: $('input[name="s_date"]').val(),
                            end_time: $('input[name="e_date"]').val(),
                            state: (function () {
                                const $state = $('select[name="state"]').val()
                                if( $state == '' )return 'all';
                                return $state;
                            }())
                        },
                        url: '{:U("FreezeManagement/kehuChat")}',
                        limits: limits,
                        limit: 20,
                        done: function (data) {
                        }
                    })
                },
                layToolEvent: function () {
                    let rowData = {};
                    layim.config({
                        init: {
                            mine: {
                                "username": "我" //我的昵称
                                ,"id": "{$adminid}" //我的ID
                                ,"status": "online" //在线状态 online：在线、hide：隐身
                                ,"sign": "在深邃的编码世界，做一枚轻盈的纸飞机" //我的签名
                                ,"avatar": '/Public/static/face/me.png' //我的头像
                            }
                        },
                        maxLength: 200,
                        notice: true,
                        isfriend: false,
                        isgroup: false,
                        //brief: true, //是否简约模式（如果true则不显示主面板）
                        tool: [{
                            alias: 'code' //工具别名
                            ,title: '代码' //工具名称
                            ,icon: '&#xe64e;' //工具图标，参考图标文档
                        },{
                            alias: 'AccountID' //工具别名
                            ,title: '代码' //工具名称
                            ,icon: '&#xe641;' //工具图标，参考图标文档
                        }],
                        chatLog: '{:U("FreezeManagement/chat")}' //聊天记录页面地址，若不开启，剔除该项即可
                    });
                    //监听发送消息
                    layim.on('sendMessage', function(data){
                        console.log(data)
                        var To = data.to;
                        $.post("{:U('FreezeManagement/sendChatMessage')}", {
                            toid: To.id,
                            sendName: data.mine.id,
                            content: data.mine.content
                        }, function (response) {
                            console.log(response)
                        })
                    });
                    //监听聊天窗口的切换
                    let userdata ;
                    layim.on('chatChange', function(res){
                        var type = res.data.type;
                        userdata = res;
                        if( type === 'friend' ){
                            //模拟标注好友状态
                            //layim.setChatStatus('<span style="color:#FF5722;">在线</span>');
                        }
                    });
                    //监听自定义工具栏点击，以添加代码为例
                    function getmeg() {
                        $.post("{:U('FreezeManagement/getChatMessage')}", {}, function (response) {
                            for (var i = 0; i < response.data.length; i++ ) {
                                layim.getMessage(response.data[i])
                                response.data.forEach(function (val) {
                                    $.post("{:U('FreezeManagement/updateMessageRead')}", {id: val.did}, function (response) {
                                        layim.chat({
                                            name: data.name
                                            ,type: 'friend'
                                            ,avatar: '/Public/static/face/sprite_RoleIcon_'+data.faceid+'.png'
                                            ,id: data.accountid
                                        });
                                    })
                                    // console.log(val)
                                })
                            }
                        })
                    }
                    setInterval(getmeg, 5000);
                    table.on('tool(datalist)', function(obj) {
                       let data = obj.data
                        rowData = data;
                        if ( obj.event == 'chat' ){
                            layim.chat({
                                name: data.name+"("+data.accountid+")"
                                ,type: 'friend'
                                ,avatar: '/Public/static/face/sprite_RoleIcon_'+data.faceid+'.png'
                                ,id: data.accountid
                            });
                        }
                    })
                    layim.on('tool(code)', function(insert){
                       // iframe层-禁滚动条
                        layer.open({
                            title: false,
                            type: 2,
                            area: ['360px', '180px'],
                            skin: 'layui-layer-rim', //加上边框
                            content: [rowData.chatConsultTypeUrl, 'no']
                        });
                    });
                    layim.on('tool(AccountID)', function (insert) {
                        layer.alert(userdata.data.id)
                    });


                },
                sendMessage: function() {
                    $sendMessageAccountid = $("#sendMessageAccountid").val();
                    $.post("{:U('FreezeManagement/getSendMessageAccount')}", {Accountid: $sendMessageAccountid}, function (response) {
                        layim.chat({
                            name: response.data.name
                            ,type: 'friend'
                            ,avatar: '/Public/static/face/sprite_RoleIcon_'+response.data.headid+'.png'
                            ,id: response.data.accountid
                        });
                    })
                },
                countDown( timeNumber, text){
                    let tn = timeNumber;
                    this.timer = setInterval(function () {
                        $("#countDown").html(tn + ' ' +  text)
                        tn--;
                        if( tn == 0 ){
                            // active.stopCountDown()
                            active.reload();
                            tn = timeNumber;
                        }
                    }, 1000);
                },
                stopCountDown: function(){
                    clearInterval(this.timer)
                },
                setTimeReLoad: function () {
                    $('#countDown').click(function () {
                        let timeNumber = $('#reload_id').val();
                        if( $(this).data('text') == 0 && timeNumber > 0 ) {
                            active.countDown(timeNumber, '暂停');
                            $(this).data('text', 1);
                        }else{
                            $("#countDown").html('开始')
                            $(this).data('text', 0);
                            active.stopCountDown();
                        }
                    });
                    // active.countDown(10);
                    // setInterval(function(){
                    //
                    //
                    // },10000);
                },
                init: function () {
                    active.reload();
                    active.layToolEvent();
                    active.setTimeReLoad();
                }
            }
            active.init();
            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>