<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">平台</label>
                    <div class="layui-input-inline">
                        <select name="platform">
                            <option value="">全平台</option>
                            <foreach name="platform" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">APK包名</label>
                    <div class="layui-input-inline">
                        <select name="apk">
                            <option value="">全APK包</option>
                            <foreach name="apk" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">渠道</label>
                    <div class="layui-input-inline">
                        <select name="channel">
                            <option value="">全渠道</option>
                            <foreach name="channel" key="key" item="vo">
                                <option value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}" lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'date',minWidth:105}">日期</th>
            <th lay-data="{field:'platform'}">注册平台</th>
            <th lay-data="{field:'apk'}">apk包</th>
            <th lay-data="{field:'channel'}">注册渠道</th>
            <th lay-data="{field:'count'}">注册人数</th>
            <th lay-data="{field:'ltv1'}">LTV1</th>
            <th lay-data="{field:'ltv2'}">LTV2</th>
            <th lay-data="{field:'ltv3'}">LTV3</th>
            <th lay-data="{field:'ltv4'}">LTV4</th>
            <th lay-data="{field:'ltv5'}">LTV5</th>
            <th lay-data="{field:'ltv6'}">LTV6</th>
            <th lay-data="{field:'ltv7'}">LTV7</th>
            <th lay-data="{field:'ltv8'}">LTV8</th>
            <th lay-data="{field:'ltv9'}">LTV9</th>
            <th lay-data="{field:'ltv10'}">LTV10</th>
            <th lay-data="{field:'ltv11'}">LTV11</th>
            <th lay-data="{field:'ltv12'}">LTV12</th>
            <th lay-data="{field:'ltv13'}">LTV13</th>
            <th lay-data="{field:'ltv14'}">LTV14</th>
            <th lay-data="{field:'ltv15'}">LTV15</th>
            <th lay-data="{field:'ltv16'}">LTV16</th>
            <th lay-data="{field:'ltv17'}">LTV17</th>
            <th lay-data="{field:'ltv18'}">LTV18</th>
            <th lay-data="{field:'ltv19'}">LTV19</th>
            <th lay-data="{field:'ltv20'}">LTV20</th>
            <th lay-data="{field:'ltv21'}">LTV21</th>
            <th lay-data="{field:'ltv22'}">LTV22</th>
            <th lay-data="{field:'ltv23'}">LTV23</th>
            <th lay-data="{field:'ltv24'}">LTV24</th>
            <th lay-data="{field:'ltv25'}">LTV25</th>
            <th lay-data="{field:'ltv26'}">LTV26</th>
            <th lay-data="{field:'ltv27'}">LTV27</th>
            <th lay-data="{field:'ltv28'}">LTV28</th>
            <th lay-data="{field:'ltv29'}">LTV29</th>
            <th lay-data="{field:'ltv30'}">LTV30</th>
            <th lay-data="{field:'ltv35'}">LTV35</th>
            <th lay-data="{field:'ltv40'}">LTV40</th>
            <th lay-data="{field:'ltv50'}">LTV50</th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="isdisplay" {{ d.isdisplay == 1 ? 'checked' : '' }}>
    </script>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form
                ,laydate = layui.laydate;
            //日期
                laydate.render({
                    elem: '#s_date'
                });
                laydate.render({
                    elem: '#e_date'
                });
            var active = {
                reload: function() {
                    table.reload('datalist', {
                        where: {
                            start_time: $('input[name="s_date"]').val(),
                            end_time: $('input[name="e_date"]').val(),
                            platform: $('select[name="platform"]').val(),
                            apk: $('select[name="apk"]').val(),
                            channel: $('select[name="channel"]').val()
                        },
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("user/ltvList")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                }
            }
            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })

        });
    </script>
</block>