<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">

                <div class="layui-inline rooms">
                    <button class="layui-btn  layui-btn-sm layui-btn-primary" data-id="1" data-type="room">初级</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" data-id="2" data-type="room">中级</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" data-id="3" data-type="room">高级</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" data-id="0" data-type="room">所有</button>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn" data-type="execlExport">导出</button>
                </div>

            </div>
        </div>
    </div>

    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'time', minWidth:105}">日期</th>
            <th lay-data="{field:'room'}">房间</th>
            <th lay-data="{field:'count_sum'}">总局数</th>
            <th lay-data="{field:'count_cy', minWidth:150}">玩家参与局数</th>
            <th lay-data="{field:'count_zb'}">作弊局数</th>
            <th lay-data="{field:'count'}">游戏玩家</th>
            <th lay-data="{field:'count_win'}">赢分玩家</th>
            <th lay-data="{field:'count_win_'}">赢分玩家比</th>
            <th lay-data="{field:'count_lose'}">输分玩家</th>
            <th lay-data="{field:'count_lose_'}">输分玩家比</th>
            <th lay-data="{field:'count1'}">法拉利次数</th>
            <th lay-data="{field:'count2', minWidth:150}">兰博基尼次数</th>
            <th lay-data="{field:'count3', minWidth:150}">玛莎拉蒂次数</th>
            <th lay-data="{field:'count4'}">保时捷次数</th>
            <th lay-data="{field:'count5'}">奔驰次数</th>
            <th lay-data="{field:'count6'}">宝马次数</th>
            <th lay-data="{field:'count7'}">本田次数</th>
            <th lay-data="{field:'count8'}">大众次数</th>
            <th lay-data="{field:'amount1', minWidth:150}">法拉利押注总金额</th>
            <th lay-data="{field:'amount2', minWidth:160}">兰博基尼押注总金额</th>
            <th lay-data="{field:'amount3', minWidth:160}">玛莎拉蒂押注总金额</th>
            <th lay-data="{field:'amount4', minWidth:150}">保时捷押注总金额</th>
            <th lay-data="{field:'amount5', minWidth:150}">奔驰押注总金额</th>
            <th lay-data="{field:'amount6', minWidth:150}">宝马押注总金额</th>
            <th lay-data="{field:'amount7', minWidth:150}">本田押注总金额</th>
            <th lay-data="{field:'amount8', minWidth:150}">大众押注总金额</th>
            <th lay-data="{field:'count_s'}">系统庄局数</th>
            <th lay-data="{field:'amount_ssy'}">系统庄输赢</th>
            <th lay-data="{field:'amount_scs'}">系统庄抽水</th>
            <th lay-data="{field:'count_p'}">玩家庄局数</th>
            <th lay-data="{field:'amount_psy'}">玩家庄输赢</th>
            <th lay-data="{field:'amount_pcs'}">玩家庄抽水</th>
            <th lay-data="{field:'amount_cs'}">游戏抽水</th>
            <th lay-data="{field:'amount_hs'}">系统回收</th>
        </tr>
        </thead>
    </table>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#s_date'
            });
            laydate.render({
                elem: '#e_date'
            });

            var active = {
                searchData: function() {
                    return {
                        start_time: "{:I('get.start_time')}",
                        end_time: "{:I('get.end_time')}",
                        room: $(".rooms .layui-btn-warm").data("id"),
                    }
                },
                formatSearchData: function(){
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for ( var $v in $d ) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function() {
                    table.reload('datalist', {
                        where: active.searchData(),
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("gameOverview/benChiBaoMaRoom")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content:'{:U("gameOverview/benChiBaoMaRoom")}'+active.formatSearchData() //iframe的url
                    });
                    setTimeout(function(){
                        layer.close(index);
                    },3000);
                },
                buttionDayEvent: function () {
                    $("button[data-type='room']").bind({
                        click: function () {
                            $("button[data-type='room']").removeClass("layui-btn-warm");
                            $(this).addClass("layui-btn-warm")
                        }
                    })
                },
                init: function () {
                    active.reload();
                    active.buttionDayEvent();
                },
            }
            active.init();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>