<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
                <button class="layui-btn" data-type="execlExport">导出</button>
            </div>
        </div>
    </div>
    <table class="layui-table"
           lay-data="{loading:true,height:'full',even:true,page:true, id:'datalist', cellMinWidth: 140}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'CountTime'}">日期</th>
            <th lay-data="{field:'ProxyTotalNum'}">总人数</th>
            <th lay-data="{field:'ProxyTotalokNum'}">推广总人数</th>
            <th lay-data="{field:'UserTotalNum'}">会员总人数</th>
            <th lay-data="{field:'DayProxyTotalNum'}">新增推广员人数</th>
            <th lay-data="{field:'DayNewUserTotalNum'}">新增会员人数</th>
            <th lay-data="{field:'UserPayTotal'}">会员充值总额</th>
            <th lay-data="{field:'DayUserPayTotal'}">今日会员充值额</th>
            <th lay-data="{field:'UserOutTotal'}">会员下注总额</th>
            <th lay-data="{field:'DayUserOutTotal'}">今日会员下注额</th>
            <th lay-data="{field:'CommissionTotal'}">总佣金</th>
            <th lay-data="{field:'DayCommissionTotal'}">今日佣金</th>
            <th lay-data="{field:'DayOutCommissionTotal'}">今日提取佣金</th>
            <th lay-data="{field:'SurplusCommissionTotal'}">剩余佣金</th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="isdisplay" {{
               d.isdisplay== 1 ? 'checked' : '' }}>
    </script>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#s_date'
            });
            laydate.render({
                elem: '#e_date'
            });
            var active = {
                searchData: function () {
                    return {
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                        platform: $('select[name="platform"]').val(),
                        channe: $('select[name="channe"]').val()
                    }
                },
                formatSearchData: function () {
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for (var $v in $d) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function () {
                    table.reload('datalist', {
                        where: active.searchData(),
                        url: '{:U("GameOverview/promotersStatistics")}',
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content: '{:U("GameOverview/promotersStatistics")}' + active.formatSearchData() //iframe的url
                    });
                    setTimeout(function () {
                        layer.close(index);
                    }, 30000);
                }
            }
            active.reload();
            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>