<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <form class="layui-form">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">apk包名</label>
                    <div class="layui-input-inline">
                        <input name="apk" class="layui-input" type="text" id="apk" autocomplete="off" lay-verify="required">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">apk包名id</label>
                    <div class="layui-input-inline">
                        <input name="apk_id" class="layui-input" type="text" id="apk_id" autocomplete="off" lay-verify="required|number">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="addApk" lay-submit="">新建</button>
                </div>
            </div>
        </form>
    </div>

</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'form'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form;
            //监听提交
            form.on('submit(addApk)', function(obj){
                let postData = {
                    apk: $("input[name='apk']").val(),
                    apk_id: $('input[name="apk_id"]').val()
                }
                $.post("{:U('configManagement/addApk')}", postData , (response) => {
                    if ( response.code == 0 ) {
                        layer.alert('添加成功', function(index){
                            location.reload()
                            //按钮【按钮一】的回调
                        })
                    }else{
                        layer.alert(response.message)
                    }
                })
                return false;
            });
        });
    </script>
</block>