<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-inline">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">截止日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">分组ID</label>
                <div class="layui-input-inline">
                    <input type="number" name="number" autocomplete="off" class="layui-input">
                </div>
            </div>

            <button class="layui-btn" data-type="reload">搜索</button>
            <button class="layui-btn" data-type="execlExport">导出</button>
        </div>
    </div>

    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true, id:'datalist'}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'ChargeTime'}">日期</th>
            <th lay-data="{field:'ZongCiShu'}">总次数</th>
            <th lay-data="{field:'ZongRenShu'}">发送人数</th>
            <th lay-data="{field:'JieShouZongRenShu'}">接收人数</th>
            <th lay-data="{field:'NewJieShouZongRenShu'}">接收新增人数</th>
            <th lay-data="{field:'NewJieShouZongTotal'}">新增接收数量</th>
            <th lay-data="{field:'SendGoldTotal'}">发送数量</th>
            <th lay-data="{field:'ReceiveGoldTotal'}">接收数量</th>
        </tr>
        </thead>
    </table>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;

            laydate.render({
                elem: '#s_date'
            });
            laydate.render({
                elem: '#e_date'
            });

            var active = {
                searchData: function () {
                    return {
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                        number: $('input[name="number"]').val()
                    }
                },
                formatSearchData: function () {
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for (var $v in $d) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function () {
                    table.reload('datalist', {
                        where: active.searchData(),
                        url: '{:U("GameData/emailSendCount")}',
                        limits: limits,
                        limit: limit
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content: '{:U("GameData/emailSendCount")}' + active.formatSearchData() //iframe的url
                    });
                    setTimeout(function () {
                        layer.close(index);
                    }, 3000);
                }
            }
            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>