<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">玩家ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="account" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">玩家昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn" data-type="execlExport">导出</button>
                </div>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>总变更数量：<span id="vary_gold_total"></span> 总押注：<span id="yazhu_total"></span> 总发奖：<span
                id="fajiang_total"></span></legend>
    </fieldset>
    <table class="layui-table"
           lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'time', minWidth:160}">时间</th>
            <th lay-data="{field:'account', minWidth:150}">ID</th>
            <th lay-data="{field:'level'}">房间</th>
            <th lay-data="{field:'vary_gold'}">变更数量</th>
            <th lay-data="{field:'begin_gold'}">变更前数量</th>
            <th lay-data="{field:'end_gold'}">变更后数量</th>
            <th lay-data="{field:'nickname', minWidth:150}">昵称</th>
        </tr>
        </thead>
    </table>

</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#s_date',
                format: 'yyyy-MM-dd HH:mm:ss'
                , type: 'datetime'
            });
            laydate.render({
                elem: '#e_date',
                format: 'yyyy-MM-dd HH:mm:ss'
                , type: 'datetime'
            });

            var active = {
                searchData: function () {
                    return {
                        account: (function () {
                            let data_ = "";
                            if ($('input[name="account"]').val() != "") {
                                var reg = new RegExp(/^\d{7}$/);
                                if (reg.test($('input[name="account"]').val())) {
                                    data_ = $('input[name="account"]').val();
                                }
                                else {
                                    layer.alert('请输入正确的玩家ID');
                                }
                            }
                            return data_;
                        }()),
                        nickname: $('input[name="nickname"]').val(),
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                    }
                },
                formatSearchData: function () {
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for (var $v in $d) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function () {
                    table.reload('datalist', {
                        where: active.searchData(),
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("GameData/xingYunZhuanPanLS")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            $("#fajiang_total").html(data.fajiang_total)
                            $("#yazhu_total").html(data.yazhu_total)
                            $("#vary_gold_total").html(data.vary_gold_total)
                        }
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content: '{:U("GameData/xingYunZhuanPanLS")}' + active.formatSearchData() //iframe的url
                    });
                    // setTimeout(function(){
                    //     layer.close(index);
                    // },3000);
                }
            }
            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>