<extend name="Base/base" />
<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">支付通道名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="passame" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
                <button class="layui-btn"  id="addpay" data-type="addpay">添加新通道</button>
            </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true, id:'datalist', cellMinWidth: 120}" lay-filter="datalist">
        <thead>
            <tr>
            <th lay-data="{field:'pay_name'}">支付通道名</th>
            <th lay-data="{field:'Weight'}">优先级权重</th>
            <th lay-data="{field:'Pay_name'}">支付类型</th>
            <th lay-data="{field:'Pay_Status', templet: '#switchTpl',}">支付开关</th>
             <th lay-data="{field:'ChargeList'}">推荐金额</th>
            <th lay-data="{field:'Qr_Url'}">支付二维码链接</th>
            <th lay-data="{field:'Bank_Name'}">收款开户行</th>
            <th lay-data="{field:'User_Name'}">卡主姓名</th>
            <th lay-data="{field:'Number'}">收款账号</th>
            <th lay-data="{field:'successOrderRate'}">成功率</th>
            <th lay-data="{field:'OrderTotalNum'}">订单生成总数</th>
            <th lay-data="{field:'OrderTotalAmount'}">订单总额</th>
            <th lay-data="{field:'failOrderNum'}">失败订单数</th>
            <th lay-data="{field:'failAmount'}">失败订单总额</th>
            <th lay-data="{field:'successOrderNum'}">成功订单数</th>
             <th lay-data="{field:'successOrderAmount'}">成功订单总额</th>
             <th lay-data="{field:'MaxCharge'}">支付限额</th>
            <th lay-data="{fixed: 'right', width:80, align:'center', toolbar: '#bar'}">操作</th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="edit">修改</a>
    </script>

    <script type="text/html" id="switchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="Pay_Status" value="{{d.id}}" lay-skin="switch" lay-text="开|关" lay-filter="Pay_Status" {{ d.Pay_Status == 1 ? 'checked' : '' }}>
    </script>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function(){
            var table = layui.table
                ,$ = layui.jquery
                ,form = layui.form
                ,laydate = layui.laydate;

            var active = {
                reload: function() {
                    table.reload('datalist', {
                        where: {
                            passame: $('input[name="passame"]').val()
                        },
                        url: '{:U("system/qrCodePayChannel")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        }
                    })
                }
            }
            active.reload();
            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })

            //监听是否显示操作
            form.on('switch(Pay_Status)', function(obj) {
                let isdisplay = obj.elem.checked ? 1 : 0
                $.post("{:U('system/qrCodePayChannelStatus')}", { id: this.value, isdisplay: isdisplay }, function ( response ) {
                    response.code == 1 && layer.msg(response.message);
                })
                // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
            });

            //监听是否显示操作
            form.on('switch(ChargeListClose)', function(obj) {
                let isdisplay = obj.elem.checked ? 1 : 0
                $.post("{:U('system/doChargeListClose')}", { id: this.value, isdisplay: isdisplay }, function ( response ) {
                    response.code == 1 && layer.msg(response.message);
                })
            });

            //监听工具条
            table.on('tool(datalist)', function(obj){
                var data = obj.data;
                if(obj.event === 'edit'){
                    // layer.alert('编辑行：<br>'+ JSON.stringify(data))
                    //iframe层-父子操作
                    layer.open({
                        type: 2,
                        title: '更新支付通道',
                        area: ['1000px', '650px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: data.dataUrl
                    });
                }
            });

            $('#addpay').bind({
                click: function () {
                    layer.open({
                        type: 2,
                        title: '添加支付通道',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['1000px', '80%'],
                        content: '{:U("system/qrCodePayChannelAdd")}' //iframe的url
                    });
                }
            })

        });
    </script>
</block>