<extend name="Base/base"/>

<block name="main">
    <br>
    <div class="searchTable">
        <div class="layui-form">
            <div class="layui-form-item">
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">平台</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select name="platform">-->
                            <!--<option value="">全平台</option>-->
                            <!--<foreach name="platform" key="key" item="vo">-->
                                <!--<option value="{$key}">{$vo}</option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">APK包名</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select name="apk">-->
                            <!--<option value="">全APK包</option>-->
                            <!--<foreach name="apk" key="key" item="vo">-->
                                <!--<option value="{$key}">{$vo}</option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_date" id="s_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="e_date" id="e_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn" data-type="execlExport">导出</button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-table" lay-data="{loading:true,height:'full',even:true,page:true,cellMinWidth:100, id:'datalist'}"
           lay-filter="datalist">
        <thead>
        <tr>
            <th lay-data="{field:'date', minWidth:120}">日期</th>
            <!--<th lay-data="{field:'platform', minWidth:150}">平台</th>-->
            <!--<th lay-data="{field:'apk'}">APK包</th>-->
            <!--<th lay-data="{field:'channel'}">渠道</th>-->
            <th lay-data="{field:'yuebao'}">余额宝总额</th>
            <th lay-data="{field:'yuebao_'}">定期总额</th>
            <th lay-data="{field:'vary'}">余额宝变化</th>
            <th lay-data="{field:'interest'}">总利息</th>
            <th lay-data="{field:'interest_'}">活期利息</th>
            <th lay-data="{field:'interest7'}">7日利息</th>
            <th lay-data="{field:'interest15'}">15日利息</th>
            <th lay-data="{field:'interest30'}">30日利息</th>
            <th lay-data="{field:'copies7'}">7日份数</th>
            <th lay-data="{field:'total7'}">7日总额</th>
            <th lay-data="{field:'copies15'}">15日份数</th>
            <th lay-data="{field:'total15'}">15日总额</th>
            <th lay-data="{field:'copies30'}">30日份数</th>
            <th lay-data="{field:'total30'}">30日总额</th>
            <th lay-data="{field:'ios'}">IOS人数</th>
            <th lay-data="{field:'android'}">安卓人数</th>
            <th lay-data="{field:'newStock', minWidth:130}">新增余额宝库存</th>
            <th lay-data="{field:'newTotal', minWidth:120}">新增定期总额</th>
            <th lay-data="{field:'newVary', minWidth:130}">新增余额宝变化</th>
            <th lay-data="{field:'newIOS', minWidth:120}">新增IOS人数</th>
            <th lay-data="{field:'newAndroid', minWidth:120}">新增安卓人数</th>
        </tr>
        </thead>
    </table>
</block>

<block name="script">
    <script>
        layui.use(['jquery', 'table', 'laydate'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#s_date',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#e_date',
                format: 'yyyy-MM-dd'
            });

            var active = {
                searchData: function() {
                    return {
                        // platform: $('select[name="platform"]').val(),
                        // apk: $('select[name="apk"]').val(),
                        start_time: $('input[name="s_date"]').val(),
                        end_time: $('input[name="e_date"]').val(),
                    }
                },
                formatSearchData: function(){
                    let $d = this.searchData(),
                        $s = '?';
                    $d.isExecl = 1;
                    for ( var $v in $d ) {
                        $s += $v + "=" + $d[$v] + "&";
                    }
                    return $s;
                },
                reload: function() {
                    table.reload('datalist', {
                        where: active.searchData(),
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url: '{:U("Yuebao/yuebaoStatistics")}',
                        limits: limits,
                        limit: limit,
                        done: function (data) {
                            console.log(data)
                        },
                    })
                },
                execlExport: function () {
                    let index = layer.open({
                        type: 2,
                        title: '导出',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['100px', '100px'],
                        content:'{:U("Yuebao/yuebaoStatistics")}'+active.formatSearchData() //iframe的url
                    });
                }
            }

            active.reload();

            $('.searchTable .layui-btn').bind({
                click: function () {
                    var type = $(this).data('type')
                    active[type] ? active[type].call(this) : ""
                }
            })
        });
    </script>
</block>